p{
    color:rgb(118, 109, 238);
}
/*Sintaxis CSS
h1 es el selector{
    propiedad:valor
} */
h1{ 
    text-align: center;
    color: darkgreen;
    font-family:cursive;
    font-size: 44px;
    background-color: gold;
}

body{
    background-color: black;
    text-align: start;
}
small{
    color: blanchedalmond;
    
}