p{
    color:rgb(118, 109, 238);
}
/*Sintaxis CSS
h1 es el selector{
    propiedad:valor
} */
h1{ 
    text-align: center;
    color: darkgreen;
    font-family:cursive;
    font-size: 44px;
    background-color: gold;
}

body{
    background-color: chocolate;
    text-align: start;
}
small{
    color: blanchedalmond;
    
}
/*Llamadas a clases de html*/
.hola-mundo{
    background-color: greenyellow;
}
.chau-mundo{
    background-color: hotpink;
}
/*Llamada por id de html*/
#Lugar{
    background-color: honeydew;
    color: gray;
    font-weight: bold;
    font-size: 200px;
}