body{
    background-image: linear-gradient(purple,rgb(22, 235, 171),white);
    background-size: cover;
  background-repeat: no-repeat;
}

#girar{
    height: 300px;
    width: 600px;
    background-repeat: no-repeat;
    
    background-image:url("https://i.pinimg.com/originals/ec/16/42/ec164205296d0c95e1eb865b60b96ea9.jpg");
    color: white;
    font-size:30px;
    font-weight: bold;
    transform:rotate(180deg);
    
}
#pp{
    display: flex;
}
/* sesgo */
#torcer{

    height: 300px;
    width: 600px;
    margin-left: 200px;
    background-image:url("https://i.pinimg.com/originals/ec/16/42/ec164205296d0c95e1eb865b60b96ea9.jpg");
    background-repeat: no-repeat;
    filter:grayscale();
    color: white;
    font-size:30px;
    font-weight: bold;
    transform:skewX(45deg);
    

}
#crecer{
    height:250px ;
    width: 250px;
    background-color: green;
    color: white;
    font-size: 30px;
    /* transform:scaleY(3.5); */
}